.header {
  height: 60px;
  background-color: rgba(255,255,255, 0.6);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #f4f5f5;
  &-continer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 20px;
      fc-bubbles {
        height: 40px;
      }
      .home {
        display: flex;
        align-items: center;
      }
      .icon {
        height: 40px;
      }
    }
    .center {
      fc-typing-input {
        --height: 30px;
        font-size: 12px;
      }
    }
    .right {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 20px;
      fc-bubbles {
        height: 30px;
      }
      .article, .me, .life, .github {
        height: 100%;
        margin-right: 30px;
        display: flex;
        align-items: center;
      }
      .github {
        margin-right: 0;
      }
      .icon {
        height: 30px;
      }
    }
    .icon {
      cursor: pointer;
    }
  }
}
.footer {
  height: 100px;
  &-container {
    height: 100px;
  }
}